
<ul>
<% @categories.each do |category| %>
  <li><%= link_to category.title, category_path(category) %></li>
<% end %>
</ul>
<% @items.each do |item| %>
  <% if item.inventory > 0 %>
    <p><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %> | <%= item.inventory %> available | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></p>
  <% end %>
<% end %>

<% if signed_in? && current_user.current_cart %>
  <p><%= link_to "Cart", cart_path(current_user.current_cart) %></p>
<% end %>
